@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "JunkDog";
    src: url("./assets/fonts/JunkDog.otf");
  }
  @font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy.otf");
  }


*{
    background-color: #000212;
    color: whitesmoke;
    z-index: 0;
    /* margin-left: 0.6rem; */
}