@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "JunkDog";
    src: url("./assets/JunkDog.otf");
  }
  @font-face {
    font-family: "Gilroy";
    src: url("./assets/Gilroy.otf");
  }


*{
    background-color: #1E1E1E;
    color: whitesmoke;
    /* margin-left: 0.6rem; */
}